 .azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } 

  /* hero section styles */
  .hero{
    width: 898px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 240px;
   

  }

  .hero-title{
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
text-align: center;
margin-top: 32px;
  }

  .hero-description{
    color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 400;
text-align: center;
opacity: 0.7;
margin-top: 29px;
  }

  .contact-btn{
    border-radius: 10px;
background: rgb(13, 19, 33);
padding: 22px 26px;
color:rgb(255, 255, 255) ;
text-align: center;

  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  .hero-section{
    background-image: url("../assets/Hero-bg.png");
  }

  /* main styles */

  main{
    margin: 0 250px;
  }

  /* why web development section styles */

  .developer-list{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    margin: 30px;
  }

  .dev-content{
    display: block;
    width: 315px;
    height:219px
  }

  .web-development{
    padding: 74px 97px;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
margin: 90px 0 60px 0;
  }

  .list-image{
    height: 219px;
    width:255px;
  }

  .developer-title{
    color: rgba(13, 19, 33, 0.7);
font-size: 20px;
font-weight: 600;
text-align: left;
  }

  .developer-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;
text-align: left;
  }

  .btn{
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 15px 0;
padding: 10px 14px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 500;
text-align: center;
  }

  .web-intro{
    text-align: center;
    width: 700px;
    height: 113px;
    margin-bottom: 68px;
  }

  .intro-title{
    color: rgb(13, 19, 33);
font-size: 29px;
font-weight: 700;
margin-bottom: 24px;
  }

  .intro-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;

  }

  /* inspiration styles  */

  .inspiration-container{
    width: 910px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: center;
    margin-bottom: 5px;
   
    

  }

  .inspiration-content{
    height: 113px;
    width: 789px;
    text-align: center;
    margin: 15px;
  }

  .inspiration-title{
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
margin-bottom: 25px;

  }

  .inspiration-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;
opacity: 0.7;

  }

  .inspiration-video{
    
    border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 8px;
margin: 5px;
padding: 12px;
width: 600px;
height: 350px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  }

  /* current target styles  */

  .target-container{
    width: 889px;
    height: 500px;
    margin: 20px 0 2px 25px;
  }

  .target-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .html-box{
    border-radius: 10px;
background: rgba(255, 76, 30, 0.05);
margin: 0 9px;
padding: 20px;

  }

  .css-box{
    border-radius: 10px;
background: rgba(0, 76, 232, 0.05);
margin: 0 9px;
padding: 20px;
  }

  .js-box{
    border-radius: 10px;
background: rgba(255, 223, 0, 0.05);
margin: 0 9px;
padding: 20px;
  }

  .target-content{
    text-align: center;
    width: 752px;
    height: 113px;
    margin: 10px 0;
  }

  .target-title{
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;

  }

  .target-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;
opacity: 0.7;
  }

  .box-title{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 700;
  }

  .box-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;
opacity: 0.7;

  }

  .anchor{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 600;
margin: 25px 0;

  }

  /* need support styles */

  .support-container{
    background-image: url("../assets/handshake.jpg");
    background-size: 100%;
    width: 898px;
    height: 250px;
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
padding: 5px 48px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
  }

  .support-content{
    
    text-align: center;
  }

  .support-title{
    color: rgb(255, 255, 255);
font-size: 25px;
font-weight: 700;

  }

  .support-description{
    color: rgb(255, 255, 255);
font-size: 13px;
font-weight: 400;
opacity: 0.7;
margin-bottom: 25px;
  }

  .message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  textarea{
    border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 25px;
text-align: left;
height: 20px;
width: 500px;

  }

  input[type="submit"]{
    border-radius: 8px;
background: rgb(255, 255, 255);
padding: 17px 20px 17px 20px;
width: 98px;
height: 55px;
color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 600;
border: none;
  }

