 .azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } 

  /* hero section styles */
  .hero{
    width: 898px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 240px;
   

  }

  .hero-title{
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
text-align: center;
margin-top: 32px;
  }

  .hero-description{
    color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 400;
text-align: center;
opacity: 0.7;
margin-top: 29px;
  }

  .contact-btn{
    border-radius: 10px;
background: rgb(13, 19, 33);
padding: 22px 26px;
color:rgb(255, 255, 255) ;
text-align: center;

  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  .hero-section{
    background-image: url("../assets/Hero-bg.png");
  }

  /* main styles */

  main{
    margin: 0 250px;
  }

  /* why web development section styles */

  .developer-list{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    margin: 30px;
  }

  .dev-content{
    display: block;
    width: 315px;
    height:219px
  }

  .web-development{
    padding: 74px 97px;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
margin: 90px 0;
  }

  .list-image{
    height: 219px;
    width:255px;
  }

  .developer-title{
    color: rgba(13, 19, 33, 0.7);
font-size: 20px;
font-weight: 600;
text-align: left;
  }

  .developer-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;
text-align: left;
  }

  .btn{
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 15px 0;
padding: 10px 14px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 500;
text-align: center;
  }

  .web-intro{
    text-align: center;
    width: 700px;
    height: 113px;
    margin-bottom: 68px;
  }

  .intro-title{
    color: rgb(13, 19, 33);
font-size: 29px;
font-weight: 700;
margin-bottom: 24px;
  }

  .intro-description{
    color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 400;

  }